page-quotes {
    .author {
        text-align: right;
        text-transform: uppercase;
        color: #cccccc;
        padding: 0;
        margin: 0;
        &::before {
            content: '- ';
        }
    }
}
